#left {
    width: 68%;
    float: left;
    padding: 50px 50px 0 20px;
}

#right {
	margin-left: 70%;
	background-color: #000;
	color: #fff;
	padding: 0 20px 0 20px;

}

.clear {
    clear: both;
}


input[type=text], select {
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, select {
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.donateForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#donateFormPanda{
	width: 88%;
	margin: 0 auto;
    margin-top: 50px;
}

.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873 ;
    -webkit-box-shadow: 0px 10px 14px -7px #276873 ;
    box-shadow: 0px 10px 14px -7px #276873 ;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3 ), color-stop(1, #408c99 ));
    background:-moz-linear-gradient(top, #599bb3  5%, #408c99  100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99  100%);
    background:-o-linear-gradient(top, #599bb3  5%, #408c99  100%);
    background:-ms-linear-gradient(top, #599bb3  5%, #408c99  100%);
    background:linear-gradient(to bottom, #599bb3  5%, #408c99  100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3 ', endColorstr='#408c99 ',GradientType=0);
    background-color:#599bb3 ;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a ;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99 ), color-stop(1, #599bb3 ));
    background:-moz-linear-gradient(top, #408c99  5%, #599bb3  100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3  100%);
    background:-o-linear-gradient(top, #408c99  5%, #599bb3  100%);
    background:-ms-linear-gradient(top, #408c99  5%, #599bb3  100%);
    background:linear-gradient(to bottom, #408c99  5%, #599bb3  100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99 ', endColorstr='#599bb3 ',GradientType=0);
    background-color:#408c99 ;
}
.myButton:active {
    position:relative;
    top:1px;
}

div.cta {
   height: 100%;
   position: relative;
}          

div.cta h1 {
   margin: 0;
   position: absolute;          
   top: 50%;                     
   transform: translate(0, -50%); 
   padding-right: 15px; 
}

 .disclaimer {
 	font-style: italic;
 	color: #bbaaee;
 }

 .text {
  margin-top: 50px;
  margin-left: 50px;
  width: 28%; 
  display: inline-block;
}

* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
}

.container {
   position: relative;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;

}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   color: grey;
}

nav {
   position: fixed;
   left: 0;
   width: 100%;
}

nav ul {
   /*background-color: rgba(0, 0, 0, 0.8);*/
   background-color: #048fa0 ;
   height: 30px;
   padding-top: 10px;
   text-align: left;
}

nav li {
   display: inline;
   float: left;
   width: 15%;
   text-align: left;
}

nav li.logo-panda {
   display: inline;
   float: left;
   width: 10%;
   text-align: left;
}

nav li.logo-panda h1 {
   display: inline;
   float: left;
   width: 5%;
   padding-left: 10px;
   margin-top: -5px;
}

.img{
   width: 100%;
   max-height: 600px;
      background-repeat: no-repeat;

}


.fixed-block {
 position: fixed;
 top: 30px;
 left: 0;
}

.fixed-block img{
 max-width: 80px;
}

.fixed-block a h1{
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 50px;
}
